<?xml version="1.0"?>
<config>
    <modules>
        <Redirections_Loginredirect>
            <version>1.0.0</version>
        </Redirections_Loginredirect>
    </modules>
    <global>
        <helpers>
            <loginredirect>
                <class>Redirections_Loginredirect_Helper</class>
            </loginredirect>
        </helpers>
        <models>
            <loginredirect>
                <class>Redirections_Loginredirect_Model</class>
            </loginredirect>
        </models>
    </global>
    <frontend>
        <routers>
            <loginredirect>
                <use>standard</use>
                <args>
                    <module>Redirections_Loginredirect</module>
                    <frontName>loginredirect</frontName>
                </args>
            </loginredirect>
        </routers>
        <events>
            <customer_login>
                <observers>
                    <loginredirect>
                        <class>loginredirect/observer_customer</class>
                        <method>customerLogin</method>
                    </loginredirect>
                </observers>
            </customer_login>
        </events>
    </frontend>
</config>